{% extends 'blog/base.html' %}

{% load static %}

{% block title %}
  Home
{% endblock %} 

{% block content %} 
  <div class="testsize" style="">
    <div id="myCarousel" class=" carousel slide parallax-off" data-ride="carousel">
      <div id="full-width" class="owl-carousel owl-theme home-hero">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            {% for event in events.all|slice:":3" %}
              {% if forloop.first %}
                <div class="carousel-item active overlay">
              {% else %}
                <div class="carousel-item overlay">
              {% endif %}
              <img src="{{ event.event_image.url }}" class="d-block w-100" >
              <div class="container">
                <div class="carousel-caption d-none d-md-block big-tagline position-absolute top-50">
                  <div class="big-tagline">
                    <h2><strong>ЛИЧНЫЙ БЛОГ</strong><br></h2>
                    <img src="{% static 'images/20.png' %}" alt="">
                          <h4> Мастера Lash-индустрии  </h4>
                    <!-- <p class="lead">With SMBarber responsive landing page template, <br>you can showcase your next barber shop websites!</p>
                    {{ event.get_summary }}... <br>
                    <a href="#" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">Contact US</a> -->
                  </div>
                </div>
              </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
<br><br><br><br>

<!-- {% for post in blog.posts.all %}

        <div class="col-6 mx-auto">
          <div class="card shadow-sm">
          	<a href="{% url 'specific_post' post.id %}"><h3>{{post.post_title}}</h3></a>
          	<img height="300" width="300" class="card-img-top" src="{{ post.post_image.url }}"/>
            <div class="card-body">
              <p class="card-text">{{ post.get_summary }}</p>
              <small class="text-muted">{{post.post_date}}</small>
          </div>
        </div>
      </div>

      	 {% endfor %} -->

    <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">

      <div class="col-lg-4 text-center">
        <img width="140" height="140" src="{% static 'images/brilliant.png' %}">

        <h3> <br> Качество услуг</h3>

      </div>
      <div class="col-lg-4 text-center">
        <img width="140" height="140" src="{% static 'images/secure.png' %}">
        <br>
        <h3><br>Гарантии</h3>

      </div>
      <div class="col-lg-4 text-center">
        <img width="140" height="140" src="{% static 'images/pig.png' %}">
        <br>
        <h3><br>Доступные цены</h3>

      </div>
    </div>
  <!-- <div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">

        </div>
        <img class="bi" width="100px" height="100px" src="{% static 'images/brilliant.png' %}" alt="">
        <h2>Качество услуг</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h2>Гарантии</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h2>Доступные цены</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
  </div> -->

    <!-- START THE FEATURETTES -->


          <h1 class="fs-1 text-center"> <br> Пару слов о себе</h1>
          <p class="fs-4 fw-light text-center">
              Всем привет, друзья! Меня зовут Анастасия , я топ-мастер и создатель студии Lash-индустри.
              Хотела бы немного рассказать о себе и о том как мы создавала проект. Все началось еще в далекие школьные годы,
              одним из любимых занятий было собраться с подружками после школы и сделать «крутой» макияж, навести красоту, устроить фотосессию.
              Таких уроков не преподавали в лицее, даже ИЗО не вполне удовлетворяло мою творческую потребность.
              </p>


    <!-- <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><span class="text-muted">Ярославна Масликова</span> </h2>
        <p class="fs-5">Инструктор/Мастер Ногтевые услуги, Brow-индустрия</p>
        <p class="lead"><strong>Ведущий мастер:</strong></p>
        <ol class="list-counter-circle">
          <li>Ногтевое искусство</li>
          <li>Брови</li>
        </ol>
        <p class="lead"><strong>Инструктор:</strong></p>
        <ol class="list-counter-circle">
          <li>Ногтевое искусство</li>
          <li>Брови</li>
          <li>Продвижение</li>
        </ol>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
             src="{% static 'images/yara.jpeg' %}">
      </div>
    </div> -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><span class="text-muted">Кононенко Анастасия</span></h2>
        <p class="fs-5">Инструктор/Мастер Lash-индустрии</p>
        <p class="lead"><strong>Ведущий мастер:</strong></p>
        <ol class="list-counter-circle">
          <li>Наращивание ресниц</li>
        </ol>
        <p class="lead"><strong>Инструктор:</strong></p>
        <ol class="list-counter-circle">
          <li>Наращивание ресниц</li>
          <li>Продвижение</li>
        </ol>
        <hr class="featurette-divider">
        <p class="fs-5 fw-light">На данный момент я ощущаю, что делать людей красивыми во всех смыслах, менять их жизнь к лучшему, искать новые способы и технологии в индустрии красоты – это мой путь, мой смысл.
              заботиться о вашем внешнем виде и отличном настроении, забирая на себя все тяготы создания идеального образа.
              Стараюсь прислушиваться к каждому вашему совету и реализовать каждое ваше желание, как волшебная фея.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
             src="{% static 'images/nastya.jpg' %}">
      </div>
    </div>

    <hr class="featurette-divider">


    <!-- /END THE FEATURETTES -->

  <h1 class="fs-1 text-center"> <br> интересные события </h1>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">  

      		{% for event in events.all %}

        <div class="col">
          <div class="card shadow-sm">           
          	<img class="card-img-top" src="{{ event.event_image.url }}"/>
            <div class="card-body">
              <p class="card-text">{{ event.event_text }}</p>           
          </div>
        </div>
      </div>

      	{% endfor %}

    </div>
  </div>
</div>
<div class="container">
  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A73948f52adb09e036b0f923d535e96e53ef7189aaffea3d44f8c584c56603835&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
</div>
{% endblock %}
