{% extends 'blog/base.html' %}

{% load static %}

{% block title %}
  Home
{% endblock %} 

{% block content %} 

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <p class="lead text-muted">Hey there! I'm excited to see you here! You can write me right now!</p>
        <p>
          <a target="_top" href="mailto:ruslan.muleev1785@gmail.com" class="btn btn-primary my-2">Mail me</a>
          <!-- VK Widget -->
          <div id="vk_auth"></div>
          <script type="text/javascript">
            VK.init({apiId: 7808959});
          </script> 
          <script type="text/javascript">
            VK.Widgets.Auth("vk_auth", {"authUrl":"/dev/Login"});
          </script>
          <div id="vk_auth"></div>
          <script type="text/javascript">
            window.onload = function () {
            VK.init({apiId: 111});
            VK.Widgets.Auth('vk_auth', {});
          }
          </script>
        </p>


        <img height="200" width="300" class="img-fluid" src="{% static 'me.png' %}" alt="placeholder+image">
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">  

      		{% for event in events.all %}

        <div class="col">
          <div class="card shadow-sm">           
          	<img class="card-img-top" src="{{ event.event_image.url }}"/>
            <div class="card-body">
              <p class="card-text">{{ event.event_text }}</p>           
          </div>
        </div>
      </div>

      	{% endfor %}

    </div>
  </div>

{% endblock %}
