{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
	<div class="conainer-fluid">
		<div class="row"></div>
		<br>
		<div class="row">
			<div class="col-md-2 col-xs-2 col-sm-2"></div>
			<div class="col-md-10 col-xs-10 col-sm-10">
				<form method="post"> {% csrf_token %}
					<div class="form-row">
						<div class="alert alert-warning">
							Вы уверены, что хотите удалить этого клиента? {{ object }}
						</div>
					</div>
					<button type="submit" class="btn btn-danger">
						<i class="fas fa-trash-alt"></i>
					</button>
				</form>
			</div>
		</div>
	</div>
	
{%endblock%}