{% extends "blog/base.html" %}
{% load static %}
{% block content %}
 
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <strong>Menu:12312312</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
    
    {% endblock %}
    {% block extra_body %}
    {% endblock %}


<div class="container my-4">
     <section id="register-form">
          <!--Grid row-->
          <div class="row">        
            <!--Grid column-->
            <div class="col-md-6 mx-auto">  
              <!--Section: Live preview-->
              <section>        
                <!-- Default form register -->
                <form class="text-center border border-light p-5">        
                  <p class="h4 mb-4">Sign up</p>        
                  <div class="form-row mb-4">
                    <div class="col">
                      <!-- First name -->
                      <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                      <!-- Last name -->
                      <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                    </div>
                  </div>        
                  <!-- E-mail -->
                  <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
        
                  <!-- Password -->
                  <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                  <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                    At least 8 characters and 1 digit
                  </small>
        
                  <!-- Phone number -->
                  <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
                  <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                    Optional - for two step authentication
                  </small>
        
                  <!-- Newsletter -->
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                    <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
                  </div>
        
                  <!-- Sign up button -->
                  <button class="btn btn-info my-4 btn-block waves-effect waves-light" type="submit">Sign in</button>
        
                  <!-- Social register -->
                  <p>or sign up with:</p>
        
                  <a type="button" class="light-blue-text mx-2">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a type="button" class="light-blue-text mx-2">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a type="button" class="light-blue-text mx-2">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a type="button" class="light-blue-text mx-2">
                    <i class="fab fa-github"></i>
                  </a>
        
                  <hr>
        
                  <!-- Terms of service -->
                  <p>By clicking
                    <em>Sign up</em> you agree to our
                    <a href="" target="_blank">terms of service</a>
        
                </p></form>
                <!-- Default form register -->
        
              </section>
              <!--Section: Live preview-->
        
            </div>
            <!--Grid column-->
        

  </div>
   {% endblock %}