{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
  Blog
{% endblock %}

{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Hey! It's my blog!</h1>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">  

      		{% for post in posts.all %}

        <div class="col-6 mx-auto">
          <div class="card shadow-sm">
          	<a href="{% url 'specific_post' post.id %}"><h3>{{post.post_title}}</h3></a>          
          	<img height="300" width="300" class="card-img-top" src="{{ post.post_image.url }}"/>
            <div class="card-body">
              <p class="card-text">{{ post.get_summary }}</p>    
              <small class="text-muted">{{post.post_date}}</small>       
          </div>
        </div>
      </div>

      	 {% endfor %}

    </div>
  </div>
{% endblock %}
