{% extends 'blog/base.html' %}

{% load static %}

{% block title %}
  Specific post
{% endblock %} 

{% block content %} 

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">  

      		

        <div class="col">
          <div class="shadow-sm">
              <h3>{{post.post_title}}</h3>
              <div class="container">
              <div class="row">
                <div class="">
                  <img src="{{ post.post_image.url }}" width="500" height="500"
                              class="rounded mx-auto d-block" style="display:block;">
                </div>
              </div>
             </div>
          	<!-- <img height="500" width="500" class="card-img-top text-center img-fluid" src="{{ post.post_image.url }}"/>
            -->
            <div class="card-body">
              <p class="card-text">{{ post.post_text|linebreaks }}</p>
              <small class="text-muted">{{post.post_date}}</small>       
          </div>
        </div>
      </div>

       <!-- Put this script tag to the <head> of your page -->
          <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>

          <script type="text/javascript">
            VK.init({apiId: 7808959, onlyWidgets: true});
          </script>

          <!-- Put this div tag to the place, where the Comments block will be -->
          <div id="vk_comments"></div>
          <script type="text/javascript">
          VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
          </script>

     

    </div>
  </div>
{% endblock %}