{% extends 'blog/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block title %}
  Profile
{% endblock %}

{% block content %}
	<!-- <form method="post">
	  {% csrf_token %}
	  {{ form.as_p }}
	  <h1>{{ request.user }}</h1>
	  <button type="submit">Сохранить изменения</button>
	</form> -->


	<div class="container my-4">
     <section id="register-form">
          <div class="row">   
            <div class="col-md-6 mx-auto">               
              <section>        
                <!-- Default form register -->

                <form class="signup text-center border border-light p-5 ui frorm" id="signup_form" method="POST">
                	<p class="lead"> {% trans "Login: " %}{{ request.user.username }} </p>
                	<p class="lead"> {% trans "email: " %}{{ request.user.email }} </p>
                    <p class="lead"> {{ profile.phone_number }} </p>
                	<hr>
                  {% csrf_token %}
                  {{ form|crispy }}                                    
                  <button class="btn btn-info my-4 btn-block waves-effect waves-light" type="submit">
                    {% trans "Save" %}
                  </button>
                  
        
                  <hr>
                </form>
 			</section>
            </div>
          </div>
     </section>
        

  </div>
{% endblock %}